# Node.js
node_modules/
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
venv_ml/
env/
.env

# Data
*.csv
*.pkl
Landslide_Final_Cleaned_V2.csv
cleaned_data.csv
backend/landslide.db
backend/.cache.sqlite

# SQLite
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ML Training Logs
catboost_info/
extracted_grid_data.json